/* Estilo automático para a página: contato */
section.contatos {
    .card {
        background-color: var(--verde);
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 14px;
        span {
            font-size: 16px;
            color: #fff;
            text-transform: none;
        }
        
        p {
            font-size: 14px;
            color: white;
        }

        a.cta {
            font-size: 14px;
            text-wrap-mode: nowrap;
        }
    }
}