section.galeria {
  position: relative;
  overflow: hidden;

  .swiper.galeria {
    position: relative;
    overflow: visible;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 48px;
    height: 48px;
    padding: 14px;
    box-sizing: border-box;
    background-color: var(--amarelo);
    border-radius: 50%;
    color: #252525;
  }

  .swiper-button-prev {
    left: 16px;
  }

  .swiper-button-next {
    right: 16px;
  }

  .swiper-slide {
    transform: scale(0.88);
    opacity: 0.5;
    transition:
      transform 0.4s ease,
      opacity 0.4s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
  }
}

section.mapa {
  position: relative;

  .swiper.mapa {
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 48px;
    height: 48px;
    padding: 14px;
    box-sizing: border-box;
    background-color: var(--amarelo);
    border-radius: 50%;
    color: #252525;
  }

  .swiper-button-prev {
    left: 16px;
  }

  .swiper-button-next {
    right: 16px;
  }
}

.barra-track {
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1.5px solid var(--verde);
  overflow: hidden;
}

.barra-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--verde);
}

section.loc {
  h2 {
    color: white;
    text-align: start;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 135%;
    color: white;
    text-align: start;
  }
}

.itens-diferenciais{
  p{
    color: var(--verde, #007141);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }
}

.infra-item{
  p{
    color: var(--verde, #007141);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}




/* MOBILE */
@media all and (max-width: 767px) { 
  section.galeria {
    .swiper-slide {
      img {
          height: 200px;
      }
    }
  }

  h2.ctae-title {
    font-size: 34px;
  }
}