/* Estilo automático para a página: home */

section.hero {
  .hero-content {
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 135%;
      color: white;
      @media (min-width: 768px) {
        font-size: 30px;
      }
      @media (min-width: 1200px) {
        font-size: 40px;
      }
    }
    span {
      color: white;
    }
  }
  img {
    height: 528px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 1024px) {
      height: 680px;
    }
  }
}

section.empreendimentos {
  margin-top: 160px;
  @media (min-width: 768px) {
    margin-top: 64px;
  }
}

section.infraestrutura {
  h2 {
    color: white;
  }
  span {
    color: white;
  }
  .card {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 18px 10px;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 135%;
      text-align: center;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      text-align: center;
      color: var(--cinza);
    }
    &:hover {
      h3 {
        color: inherit;
      }
    }
  }
}

section.diferenciais {
  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    text-align: center;
    color: var(--verde);
  }
}

section.sobre {
  .content {
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 135%;
      text-align: justify;
      color: #707070;
      strong {
        font-size: 24px;
        font-weight: 600;
        color: var(--verde);
      }
    }
  }
}

section.app {
  h2 {
    color: white;
    text-align: start;
  }
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 135%;
    color: white;
    text-align: start;
  }
}
