/* Estilo automático para a página: sobre */
.bloco-img {
  &:nth-child(odd) {
    order: 1;
  }
  &:nth-child(even) {
    order: 2;
  }
}

#anexo-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--verde);
  @media (max-width: 640px) {
    font-size: 14px;
  }
}

section.diferenciais {
  h3 {
    font-size: 18px;
    @media (min-width: 640px) {
      font-size: 20px;
    }
  }
  .swiper-wrapper {
    align-items: stretch !important;
  }
  .swiper-slide {
    height: auto !important;
  }
  .card {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    p {
      color: var(--titulos); 
    }
    &:hover {
      background-color: inherit;
      border: 1px solid var(--verde);
      p {
       color: var(--titulos); 
      }
    }
  }
}